<main>
  <h2>{{display-title model.title lang=hl}}</h2>
  <dl class="metadata">
    <dt>{{t "display_content_partner"}}</dt>
    <dd>
      {{#link-to
        "search"
        (query-params and=(get-obj "display_content_partner" model.display_content_partner))
      }}
        {{model.display_content_partner}}
      {{/link-to}}
    </dd>
    <dt>{{t "creator"}}</dt><dd>{{display-csv model.creator}}</dd>
    <dt>{{t "description"}}</dt><dd>{{safe-text model.description}}</dd>
    <dt>{{t "date"}}</dt><dd>{{safe-text model.date}}</dd>
    <dt>{{t "subject"}}</dt><dd>{{display-csv model.subject filterFor="subject"}}</dd>
    <dt>{{t "publisher"}}</dt><dd>{{display-csv model.publisher filterFor="publisher"}}</dd>
  </dl>

  {{#if isSerial}}
    <h3>{{t "issues"}}</h3>
    {{t
      "issues page number"
      pageNumber=issues.meta.page
      resultsNumber=issues.meta.result_count
    }}
    ({{t "issues per page" perPage=100}})
    <div class="card-deck">
      {{#each issues as |issue|}}
        <div class="card border-light issue-card card-link">
          <a class="card-link" href={{parse-url issue.attachments.[0].href}}></a>
          <div class="card-header">
            <a href={{parse-url issue.attachments.[0].href}}>{{issue.attachments.[0].title}}</a>
          </div>
          {{safe-img src=(parse-url issue.thumb_url) class="card-img-bottom"}}
        </div>
      {{/each}}
    </div>
    <nav aria-label={{t "page navigation"}}>
      {{search-pagination meta=issues.meta}}
    </nav>
  {{else}}
    <h3>{{t "files"}}</h3>
    {{#each model.attachments as |attachment|}}
      {{result-attachment attachment}}
    {{/each}}

  {{/if}}

</main>