<main>
  <h2>{{display-title model.title lang=hl}}</h2>
  <dl class="metadata">
    {{#if (value-exists model.creator)}}<dt>{{t "creator"}}</dt><dd>{{display-csv model.creator}}</dd>{{/if}}
    {{#if (value-exists model.description)}} <dt>{{t "description"}}</dt><dd>{{safe-text model.description}}</dd>{{/if}}
    {{#if (value-exists model.date)}}<dt>{{t "date"}}</dt><dd>{{safe-text model.date}}</dd>{{/if}}
    {{#if (value-exists model.subject)}}<dt>{{t "subject"}}</dt><dd>{{display-csv model.subject filterFor="subject"}}</dd>{{/if}}
    {{#if (value-exists model.publisher)}}<dt>{{t "publisher"}}</dt><dd>{{display-csv model.publisher filterFor="publisher"}}</dd>{{/if}}
  </dl>
  {{#if isSerial}}
    <h3>{{t "issues"}}</h3>
    {{t
      "issues page number"
      pageNumber=meta.page
      resultsNumber=meta.result_count
    }}
    ({{t "issues per page" perPage=100}})
    {{#if sortedIssuesAll}}
      <div class="card-deck">
        {{#each sortedIssuesAll as |issue|}}
          <div class="card border-light issue-card card-link">
            <a class="card-link" href={{parse-url issue.attachments.[0].href}}></a>
            <div class="card-header">
              <a href={{parse-url issue.attachments.[0].href}}>{{issue.attachments.[0].title}}</a>
            </div>
            {{safe-img src=(parse-url issue.thumb_url) class="card-img-bottom"}}
            {{#if issue.attachments.[1]}}
              <div class="card-footer">
                <a href={{parse-url issue.attachments.[1].href}}>{{t "french version"}}</a>
              </div>
            {{/if}}
          </div>
        {{/each}}
      </div>
    {{/if}}
    <nav aria-label={{t "page navigation"}}>
      {{#if meta}}{{search-pagination meta=meta}}{{/if}}
    </nav>
  {{else}}
    <h3>{{t "files"}}</h3>
    {{#each model.attachments as |attachment|}}
      {{result-attachment attachment}}
    {{/each}}
  {{/if}}

</main>