<div>
  {{t
    "page number"
    pageNumber=model.meta.page
    resultsNumber=model.meta.result_count
  }}
  <label for="results-per-page">{{t "results per page"}}</label>
  <XSelect
    @value={{per_page}}
    @on-change={{action "updateParam" "per_page"}} as |xs|
  >
    {{#each offsetOptions as |option|}}
      <xs.option @value={{option.value}}>{{option.value}}</xs.option>
    {{/each}}
  </XSelect>
</div>

<main>
  <h2 class="sr-only">{{t "search results"}}</h2>
  {{#each model as |item|}}
    <hr>
    {{search-result record=item}}
  {{/each}}
</main>
<nav aria-label="Page navigation">
  {{search-pagination meta=model.meta}}
</nav>

