<ul class="search-filters list-unstyled {{if isVisible "visible"}}">
  {{#each-in model.meta.facets as |facet data|}}
    <li class="search-filter">
      {{search-filters-category facet data and=and}}
    </li>
  {{/each-in}}
  {{#each-in additionalActiveFilters as |facet data|}}
    <li class="search-filter">
      {{search-filters-category facet data and=and}}
    </li>
  {{/each-in}}
  <li class="search-filter">
    <ul class="search-filter-category list-unstyled pb-3">
      <strong>Serials:</strong>
      <li class="search-filter-item">{{#link-to "serials"}}{{t "serials list"}}{{/link-to}}</li>
    </ul>
  </li>
</ul>
<div class="toggle">
  <button type="button" class="btn btn-block mb-3" {{action "toggleVisible"}}>
    {{if isVisible (t "hide filters") (t "show filters")}}
    {{#if activeFiltersCount}}
      <span class="badge badge-primary">{{activeFiltersCount}}</span>
    {{/if}}
  </button>
</div>