<div class="fuzzy-search-links">
  {{#link-to (query-params fuzzySearch=true text=getFuzzyText)}}{{t "match similar terms"}}{{/link-to}}  |
  {{#link-to (query-params fuzzySearch=false text=getExactText)}}{{t "match exact terms only"}}{{/link-to}}
</div>
<form method="post" {{action "updateParams" searchBarParams on="submit"}}>
  <div class="input-group mb-3" role="search" aria-label="search">
    <label for="search-bar" class="sr-only">{{t "enter search text"}}</label>
    {{input
      disabled=isLoading
      id="search-bar"
      class="form-control"
      value=searchBarParams.text
    }}
    <div class="input-group-append">
      <label for="search-button" class="sr-only">{{t "execute search"}}</label>
      <button
        id="search-button"
        class="btn btn-primary"
        type="submit"
        disabled={{isLoading}}
      >
        {{fa-icon "search"}}
      </button>
    </div>
  </div>
</form>
